pandas

# prompt augmentation
nlpaug

# paraphrasing
git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git@main#egg=parrot
transformers
sentencepiece
nltk
spacy
rouge-score
numpy
torch

# code distance
apted
tree_sitter_languages
tree-sitter==0.21.3
pyyaml

# Google Gemini
google-generativeai

# models
anthropic
openai
ollama
